[Unit]
Description=Periodic faultlog timer to run once every month

[Timer]
OnBootSec=10min
OnUnitActiveSec=10min
Unit=faultlog_hostpoweron.service

[Install]
WantedBy=timers.target
